.row-main {
   

    padding-left: 0px;
    padding-right: 0px;

    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: auto;




    /* max-width: 100%;
    height: auto; */
    /* padding: 0px;
    margin: 0px; */
    
    /* z-index: 1;  */
   /* opacity: 0.1; */
} 
/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}*/
/* 
.image-main {
    filter:grayscale(1);
    /* width: 90%;
    max-height: 100%; */
    /* opacity: 0.5; */


/* } */

/* .image-main {
    filter:grayscale(1);
    width: 100%;
    height: auto;
    opacity: 0.2;


}  */

.company-logo { 
    height: 65px;
    padding-left: 0px;
    margin: 0px;
    margin-top: 0px;   
}

.col {
    padding: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}



.main-container {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom:300px;
    /* padding-bottom: 300px; */
    /*this needs to be taken out as it is only there to stretch container for cards*/

    
}

.row-header1 {
   
    background-color: #CC0000;
    height: 5vh;
}

.row-header2 {
    background-color: #CCCCCC;
    height: 7vh;
    /* padding-left:  */
}

.row-header3 {
    background-color: #CC0000;
    height: 5vh;
}

.form-control {
    height: 33px;
   
}

.row-main {
    background-color: #CCCCCC;
    height: 66vh;
   
}

.jumbotron-main {
    position: absolute;
    text-align: center;
    background-color: transparent; 
    opacity: 1; 
    color: black; 
    width: 100%;
    top: 0px;

    

}

.jumbotron-main h1,
.jumbotron-main p {
    font-weight: bold;
    color: #000;
    position: relative;
    font: Archivo;
    padding-top: 20px;
    font-weight: 450;
    
   
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  

    
} 


.row-footer1 {
    background-color: #CC0000;
    height: 5vh;
}

.row-footer2 {
    background-color: #CCCCCC;
    height: 7vh;
}

.row-footer3 {
    background-color: #CC0000;
    height: 5vh;
}

.fab {
    color: black;
}

.row-footer3  p, i {
    color: black;
    font-size: small;
   

}

.container-fluidbaseheader {
    width: 100%;
    padding-right: 0px; 
    padding-left: 0px; 
    margin-right: 0;
    margin-left: 0;
}

.container-fluidfooter {
    width: 100%;
    padding-right: 0px; 
    padding-left: 0px; 
    margin-right: auto;
    margin-left: auto;
}




.nav-link-allcourses,
.nav-link-basket,
.nav-link-dropdown,
.dropdown-itemregister,
.dropdown-itemlogin,
.dropdown-itemmanagecourses {
   color: black;   
   justify-content: space-around; 
}


/** positioning of nav bar item in container 2 to fit in between lines */

.navbar-expand-lg {
    padding: 0;
}

/** overlay on courses page */
/* .overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* position: fixed; */
    /* background: white; */
    /* z-index: 1; was at -1 */
/* }  */


.card {
    float: left
}

.button-options {
    bottom: 0;
    right: 0;
    position: fixed;
    padding-bottom: 180px;
    padding-right: 5px;
}

/* arrow button at the bottom of all courses page  */

.btt-button {
    height: 30px;
    width: 25px;
    position: absolute;
    align-items: center;
    bottom: 10px;
    right: 10px;
  
}

/* arrow button at the bottom of all courses page  */

.btt-link,
.update-link,
.delete-item {
    cursor: pointer;  
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* button outline black on the detailed courses page */

.btn-outline-black {
    background: white;
    color: black !important; /* use important to overife link color for <a> elements */
    border: 1px solid black;

}

/* button outline black on the detailed courses page */
.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}


/* bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

/* from css-tricks - have not used yet 

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}


/* Convenience classes - colors copied from Bootstrap */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;

}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
   border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* .custom-toast {
    overflow: visible;

}

.toast-capper {
    height: 2px;
} */


/* dont have the above two css styling elements in code as of yet  */


/* Media Queries - slightly larger container on xl screens - THESE DO NOT WORK  */
@media (mid-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem; 
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radious: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* hover effect */
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;

}

/* link text info color from bootstrap */
.allauth-form-inner-content a {
    color: #17a2b8;
}



/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        positiion: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px
    }

    body {
        height: calc(100vh - 116px);
    }
}