.row-main {
    background: url('/media/front-view-hands-holding-safety-first-signb.jpg');
    background-size: cover;
    max-width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    filter: grayscale(100%);
    opacity: 0.3; 
    z-index: -1; 
}

.company-logo {
    height: 95px;
}

.col-logo {
    padding: 0px;
    margin: 0px;
}

.main-container {
    padding-left: 0px;
    padding-right: 0;
    
}

.row-header1 {
   
    background-color: #CC0000;
    height: 5vh;
}

.row-header2 {
    background-color: #CCCCCC;
    height: 10vh;
}

.row-header3 {
    background-color: #CC0000;
    height: 5vh;
}

.row-main {
    background-color: #CCCCCC;
    height: 60vh;
   
}

.jumbotron-main {
   
    position: relative;
    text-align: center;
    background-color: transparent;
}

.jumbotron-main h1,
.jumbotron-main p {
    position: abosolute;
    /* top: 50%;
    left: 50%; */
    /* transform: trnaslate(-50%, -50%); */
    color:black;
}

.row-footer1 {
    background-color: #CC0000;
    height: 5vh;
}

.row-footer2 {
    background-color: #CCCCCC;
    height: 10vh;
}

.row-footer3 {
    background-color: #CC0000;
    height: 5vh;
}

.fab {
    color: black;
}

.socal-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

