{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'purchase/css/purchase.css' %}">
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h1 class="logo-font mb-2">Thank You For Your Purchase</h1>
            <hr>
            <p class="text-black">Please find order details below.  Confirmation of this order has been sent to <strong>{{ purchase.email }}</strong></p>
        </div>
    </div>

 

    <div class="row">
        <div class="col-12 col-lg-3"></div>
       
</div>
<div class="row">
    <div class="col-12 col-lg-3 text-right">
        <a href="{% url 'all_courses' %}" class="btn btn-black rounded-0 my-2">
            <span class="icon mr-2">
                <i class="fas fa-gifts"></i>
            </span>
            <span class="text-uppercase">Place another order</span>
        </a>
    </div>
</div>
</div>
{% endblock %}
