{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div id="discount-banner" class="row text-center">
        <div class="col bg-black text-color">
            <h6 class="logo-font my-1"><i class="fa-solid fa-arrow-right fa-beat" style="color: #ff0000;"></i> &nbsp;
                &nbsp; 10% Discount on all orders over €{{ free_discount }}</h6>
        </div>
    </div>

    <div class="container-home">
        <h1 class="display-10 p-5">WELCOME TO KAC SAFETY
        </h1>
        <p class="lead">SAFETY TRAINING TODAY FOR A SAFER TOMORROW </p>
        <hr class="w-50 mb-1 hr-color">
        <p class="p-3 fontstyle text-justify">KAC Safety is a training company that specialises in providing training and education to
            individuals and organisations on how to create and maintain a safe and health work environment. The company
            offers a wide range of services such as onsite training sessions, online courses, and consulting services to
            help your company comply with occupational health and safety regulations, reduce workplace accidents and
            injuries, and minimize the risk of illness or disease in the workplace.

            The training programs provided by KAC Safety cover a wide range of topics, including hazard identification
            and risk assessment, personal protective equipment, emergency preparedness and workplace ergonomics.
            Our Safety trainers and safety auditors, work closely with clients to design customised training programs
            that meet their specific needs and requirements.</p>
        <p class="paragraphstyle"><strong>Please click on the learn more button to see a list of courses.</strong></p>
        <p>
            <a class="btn btn-dark rounded-0 mt-5" href="{% url 'all_courses' %}" role="button">Learn more</a>
        </p>
    </div>

</div>



{% endblock %}