{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="conainter">

<div class="jumbotron jumbotron-main">
    <h1 class="display-9">WELCOME TO KAC SAFETY
        SAFETY TRAINING TODAY FOR A SAFER TOMORROW </h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>KAC Safety is a training company that specialises in providing training and education to individuals and organisations on how to create and maintain a safe and health work environment.  The company offers a wide range of services such as onsite training sessions, online courses, and consulting services to help your company comply with occupational health and safety regulations, reduce workplace accidents and injuries, and minimize the risk of illness or disease in the workplace.

        The training programs provided by KAC Safety cover a wide range of topics, including hazard identification and risk assessment, personal protective equipment, emergency preparedness and workplace ergonomics. 
        Our Safety trainers and safety auditors, work closely with clients to design customised training programs that meet their specific needs and requirements. 
        
        Please see a list of all our courses here.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

</div>



{% endblock %}

