{% extends "base.html" %}
{% load static %}

<h1>COURSE ID {{course.id}}</h1>

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if courses.image %}
                <a href="{{ courses.image }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ courses.image.url }}" alt="{{ courses.title }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}placeholder.jpg" alt="{{ courses.title }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">

                <p class="mb-0">{{ courses.title }}</p>
                <p class="mb-0">{{ courses.location }}</p>
                <p class="mb-0">{{ courses.group_by }}</p>
                <!-- {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %} -->
                <p class="mt-3">{{ courses.details }}</p>
                <p class="mt-3">{{ courses.date_of_course }}</p>
                <p class="mt-3">€{{ courses.fee }}</p>
                <form class="form" action="{% url 'add_to_basket' courses.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0"
                                            data-item_id="{{ courses.id }}" id="decrement-qty_{{ courses.id }}">
                                            <span class="icon">
                                                <i class="fa-solid fa-square-minus fa-2xl" style="color: #cc0000;"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ courses.id }}" id="id_qty_{{ courses.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ courses.id }}" id="increment-qty_{{ courses.id }}">
                                            <span class="icon">
                                                <i class="fa-sharp fa-solid fa-square-plus fa-2xl" style="color: rgb(204, 0, 0);"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'all_courses' %}" class="btn btn-dark rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fa-solid fa-chevron-left" style="color: #cc0000;"></i>
                                </span>
                                <span >Keep Shopping</span>
                            </a>
                            <!-- <a href="{% url 'view_basket' %}" > -->
                            <input type="submit" class="btn btn-dark rounded-0 mt-5"
                                value="Add Item To Basket">
                            <!-- </a> -->
                            {% if request.user.is_superuser %}
                            <a class="btn btn-dark rounded-0 mt-5" href="{% url 'edit_courses' courses.id %}" role="button">Edit</a>
                            <a class="btn btn-dark rounded-0 mt-5" href="{% url 'delete_courses' courses.id %}" role="button">Delete</a>
                            {% endif %}
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">

                    </div>
                </form>
            </div>
           

        </div>

    </div>

</div>
<!-- <p class="d-lg-block button-options">
    <a class="btn btn-sm btn-secondary" href="" role="button">Add To Basket</a>
    <a class="btn btn-sm btn-secondary" href="" role="button">Add To Wishlist</a>
    <a class="btn btn-sm btn-secondary" href="{% url 'all_courses' %}" role="button">All Courses</a>
    <a class="btn btn-sm btn-secondary" href="{% url 'landing' %}" role="">Home</a>
</p> -->
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'courses/includes/quantity_input_script.html' %}
{% endblock %}