{% extends "base.html" %}
{% load static %}

{% load bag_tools %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <hr>
            <h1 class="logo-font mb-4">Contact The KAC Safety Team </h1>
            <hr>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <p class="text-black">
            Please complete the form below.
        </p>
        <form action="contact_approved/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="Submit" class="btn btn-dark rounded-0 mt-2 mb-3">
        </form>
    </div>
</div>

{% endblock %}