{% extends "base.html" %}
{% load static %}

{% load bag_tools %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <hr>
            <h1 class="logo-font mb-4">Contact Succes</h1>
            <hr>
        </div>
    </div>

        <div class="col-12 col-lg-6">
            <p class="text-muted">
               Hi {{ user}},
               Your message has been received.
               We will respond within 24h.
               Thank you for your enquiry.
               KACSafety Team
            </p>
        
        </div>
{% endblock %}

