{% extends "base.html" %}
{% load static %}

{% load bag_tools %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <hr>
            <h1 class="logo-font mb-4">Contact Succes</h1>
            <hr>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="text-dark">
            <p>Hi {{ user}},</p>
            <br>
            <p>Your message has been received.</p>
            <p>We will respond within 24h.</p>
            <p>Thank you for your enquiry.</p>
            <br>
            <p>KAC Safety Team</p>
        </div>

    </div>
</div>
{% endblock %}