{% extends "base.html" %}
{% load static %}

{% load bag_tools %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'mailchimpnews/css/mailchimpnews.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container-subscribe">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-2">Newsletter Signup </h2>
            <br>
            <hr class="w-70 mb-1 hr-color">
            <br>
            <h4 class="mt-5">Please enter your details below to subscribe to our newsletter.</h4>
            <br>

            <form method="POST" action="{% url 'subscribe_view' %}" enctype="multipart/form-data" class="mt-5">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="Submit" class="btn btn-dark rounded-0 mt-5 mb-5">
            </form>
        </div>
    </div>
</div>

{% endblock %}